# Dependencies
/node_modules
/vendor

# Laravel
/public/hot
/public/themes
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage_old
/storage_old/*.key
/storage_old/app/*
/storage_old/framework/*
/storage_old/logs/*

# Environment files
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store

# Testing
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Composer
composer-setup.php

# Cache
.phpunit.result.cache

# Custom / local-only
php.ini
backup.json
auto_builder_sh.sh
