@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
.footer {
   	padding-top: 40px;
    border-radius: 10px;
    background-color: #f8f9fa;
}
.company-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #6c757d;
}
.social-icons a {
    margin-right: 10px;
    color: #6c757d;
    font-size: 30px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #007bff;
}
.footer h5 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.footer ul {
    padding-left: 0;
}
.footer ul li {
    list-style: none;
    margin-bottom: 8px;
}
.footer ul li a {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    font-weight: 300;
}
.footer ul li a:hover {
    color: #007bff;
}
.form-group input {
    border-radius: 10px;
    padding: 10px 23px 10px 23px;
    border: none;
    background-color: hsla(0, 0%, 16%, 0.09);
}
.btn-success {
    border-radius: 10px;
    padding: 10px 23px 10px 23px;
}
.copyright-text {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}
.email_shadow {
    box-shadow: 10px 10px 5px #aaaaaa;
}
