@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.navbar-nav .nav-link.text-success {
    color: #28a745 !important;
}
.navbar-nav .fa {
    margin-right: 5px;
}
.nav-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #515151 !important;
}
.middle-links {
    margin-left: 100px;
}
/* ================= search bar ================= */
.category-btn {
    font-weight: bold !important;
    color: #fff !important;
    background: #078838 !important;
    padding: 13.71px 16px 14.59px 16px !important;
    border-radius: 0 !important;
    border: none;
}
.category-btn:hover {
    color: #fff !important;
    background: #078838 !important;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: hsla(220, 14%, 96%, 1);
    margin-left: -20px;
    height: 53px;
    border-radius: 5px;
    padding: 3px 7px;
}
.search-input {
    border: none !important;
    font-family: "Barlow", sans-serif;
    outline: none;
    background-color: hsla(220, 14%, 96%, 1) !important;
    width: 100%;
}
.search-input:focus{
    outline: 0;
    box-shadow: unset !important;
}
.search-btn {
    background-color: hsla(143, 90%, 28%, 1) !important;
    color: white !important;
    border-radius: 0.25rem !important;
    padding: 10px 25px 10px 25px !important;
    /*margin-right: 10px;*/
}
.search-result-product{
    display: flex !important;
}
.search-result-product .text-truncate{
    margin-right: auto;
}
.search-btn:hover {
    color: #fff;
}
.search-btn .fa {
    margin-left: 5px;
    margin-top: 3px;
}
.search-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}
.categories {
    margin-left: -100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
}
.main-container {
    /*height: 170px;*/
    background: #eeeeee;
    /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
}
.dropdown-menu{
    width: 252px !important;
    /* height: 68vh !important; */
    overflow-y: visible !important;
    position: absolute !important;
    will-change: transform !important;
    top: 140px !important;
    right: -10px !important;
    transform: translate3d(15px, -102px, 0px) !important;
}
/* ================= search bar ================= */
/* =============== Truck ================= */
.delivery-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
    color: #fff;
}
.delivery-banner img {
    height: 40px;
    margin-right: 15px;
}
.delivery-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
}
.postcode-check {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
}
/* =============== Truck ================= */
/* Loader Styling */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.profile-header .statistics figure {
    height: 4rem;
    width: 4rem;
}
.profile-header .statistics figure img{
    width: 100%;
    object-fit: cover;
}
/* Responsiveness Start */
@media(max-width: 1200px){
    .middle-links {
        margin-left: unset;
    }
}
@media(max-width: 767px){
    .dropdown-menu {
        width: 180px !important;
    }
}
/* Responsiveness End */

/* Submenu positioning */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 200px;
}

/* Keep submenu open on hover */
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/* Optional: Fix Bootstrap hiding dropdown too fast */
.dropdown-menu li:hover > .dropdown-menu {
    display: block;
}
