@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif !important;
}
.signin {
    width: 100%;
  	height: 640px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 16px;
    padding-bottom: 25px;
}
.signInTitle {
    font-size: 20px;
    color: #078A3A;
    font-weight: 700;
}
.signInSubTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    color: hsla(0, 0%, 60%, 0.6);
}
.breadcrumb {
    background-color: #fff !important;
}
.breadcrumb-item a {
    color: hsla(204, 6%, 46%, 1) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: hsla(143, 90%, 28%, 1) !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
}
.mt-3,
.my-3 {
    margin-top: 3rem !important;
}
.signin input {
    color: hsla(143, 90%, 28%, 1);
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 20.8px;
    background-color: #fff !important;
    border: 1px solid hsla(143, 90%, 28%, 1) !important;
}
input::placeholder {
    font-weight: 500 !important;
}
.form-control {
    border-radius: 10px;
    padding: 10px;
}
.rememberForgot {
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    color: hsla(143, 90%, 28%, 1) !important;
}
.forms {
    margin-top: 103px;
    margin-bottom: 103px;
    margin-left: 50px;
}
.logSin {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 3px !important;
    margin-right: 15px !important;
    padding: 10px !important;
    border-radius: 4px !important;
    width: 120px;
    height: 30px;
}
.mt-5,
.my-5 {
    margin-top: 41px !important;
}
.signGoogle {
    width: 438px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}
.buyerImg {
    /* margin-top: 40px; */
    width: 100%;
    height: 540px;
    border-radius: 20px;
    object-fit: cover;
}
.carousel-item {
    overflow: hidden;
    border-radius: 20px;
}
.carousel-item {
    overflow: hidden;
    border-radius: 20px;
    margin-top: 0;
    padding-top: 0;
}
.carousel-inner {
    border-radius: 20px;
}
.carousel {
    overflow: hidden;
    border-radius: 20px;
}
.carousel-inner,
.carousel {
    margin-top: 0;
    padding-top: 0;
    border-radius: 20px;
    overflow: hidden;
}
